

html {
    height: 100%;
    margin: 0 0 0 0; 
    padding: 0;
}
body {
    margin: 0 0 0 0; 
    padding: 0;
	top:0;
	
}

.main-title{
	background: #6495ED;
	height:80px;
}
#tittle-text{
	font-family: Arial; 
    font-size: 24px;
	color: #fff;
	padding-top: 25px;
	padding-left:30px;
	text-shadow: -1px 1px #346392;
	
}
.middle{
	 margin: 0 auto;
	 margin-top: 20px;
	 height:220px;
	 width: 95%;
	}
.box-with-shadow{
	width: 48%;
	
	margin: 7px;
	box-shadow: 0 0 5px;
	border-radius: 10px;
	float: left;

}
#grey-text{
	font-family: Arial; 
    font-size: 18px;
	color: #808080;
	padding-top: 20px;
	padding-left: 30px;
	text-align:  left;
	
}

.square-equation{
	width:85%;
	padding-left:30px;
}

.inp-block{
	width: 25px;
}
label{
	font-family: Arial; 
}
.button{
	width:100px;
	height:30px;
	font-size: 16px;
	font-family: Arial; 
	float: right;
	border: 4px solid #6495ED;
    border-radius: 3px;
	text-shadow: -1px 1px #346392;
    background:#6495ED;
    color: #FFF;  
    cursor: pointer;
    
}
.button:hover{
    border: 4px solid #87CEFA;
    background: #87CEFA;
    text-decoration: none;
}
.result{
	width:90%;
	padding-left: 30px;
	padding-bottom: 30px;
	
}
.res-block{
	padding-bottom: 10px;
}

.res-table{
	width: 90%;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
	
}
.output{
	width:60px;
}

table {
	width: 90%;
	border:1px solid #808080;
	
	border-collapse: collapse;
	font-family: Arial; 
	font-size: 14px;
}
table th, table td{
	
	border:1px solid #808080;
	
}
table th{
	height:20px;
	background-color:#6495ED;
	color:#fff;
	text-shadow: -1px 1px #346392;
}

table caption{
padding-bottom: 20px;
margin-left: -30px;

}

/* zebra */
tr:nth-child(even) {
background: #DCDCDC;
}
tr:nth-child(odd) {
background: #fff;
}
}















